<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#locales').change(function () {
              let selectedOption = $('#locales').val();
              if (selectedOption != '') {
                  window.location.replace('?lang=' + selectedOption);
              }
            })
            $('#search').click(function () {
                let titleVar = document.getElementById("titleInput").value
                let yearVar = document.getElementById("yearInput").value
                let result = document.getElementById("result")
                $.getJSON("/movies", {title: titleVar, year: yearVar}, function(movies) { 
                    if (movies != null) {
                        result.innerText = JSON.stringify(movies) + " "
                    }
                });
            })
        })
    </script>
</head>
<body>
    <h1 th:text="#{Movie.test}"></h1>
    <span th:text = "#{Lang.change}"></span>
    <select id="locales">
        <option></option>
        <option value="en" th:text = "#{Lang.en}"></option>
        <option value="es" th:text = "#{Lang.es}"></option>
    </select>
    <br><br>
    <input type="text" th:placeholder="#{Movie.title}" id="titleInput">
    <input type="number" th:placeholder="#{Movie.year}" id="yearInput">
    <button id="search">Search</button>
    <hr>
    <div id="result" style="size: 10px; color: rebeccapurple;"></div>
</body>
</html>